# Created by https://www.toptal.com/developers/gitignore/api/zig,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=zig,visualstudiocode

### VisualStudioCode ###
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Ignore code-workspaces
*.code-workspace

### zig ###
# Zig programming language

zig-cache/
zig-out/
build/
build-*/
docgen_tmp/

# End of https://www.toptal.com/developers/gitignore/api/zig,visualstudiocode
