[submodule "zusb"]
	path = pkg/zusb
	url = https://github.com/Sirius902/zusb.git
[submodule "zlm"]
	path = pkg/zlm
	url = https://github.com/ziglibs/zlm.git
[submodule "zig-clap"]
	path = pkg/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "grindel"]
	path = pkg/grindel
	url = https://github.com/Sirius902/grindel.git
